<h1>This is the friends list</h1>

<% friends.forEach(function(element){ %>
<ul>
	<li><%= element %></li>
</ul>
<%})%>

<form action="/addFriend" method="POST">
<input type="text" name="friendName">
<button>New friend</button>
</form>